{% extends 'base.html' %}

{% block content %}
    <main class="profile-main">
        <section class="auth-section">
            <div class="auth-container">
                <h2>Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="error">{{ field.errors }}</div>
                        {% endfor %}
                    </div>

                    {% if form.non_field_errors %}
                        <div class="error">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn-login btn-primary">Login</button>
                </form>
                <p class="auth-helper">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </section>
    </main>
{% endblock %}
