{% extends 'base.html' %}

{% block content %}
    <main class="profile-main">
        <section class="auth-section">
            <div class="auth-container">
                <h2>Register</h2>
                <form method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="error">{{ field.errors }}</div>
                        </div>
                    {% endfor %}


                    <button type="submit" class="btn-register btn-primary">Register</button>
                </form>
                <p class="auth-helper">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </section>
    </main>
{% endblock %}
