{% extends 'base.html' %}

{% block content %}
    <section class="create-workout">
        <div class="container">
            <div class="create-workout-content">
                <h4>Create a New Workout</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="error">{{ field.errors }}</div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="create-workout-btn">Create Workout</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
