{% extends 'base.html' %}

{% block content %}
    <main class="profile-main">
        <section class="delete-workout-section">
            <div class="container delete-workout-container">
                <h2>Are you sure you want to delete the workout: "{{ workout.name }}"?</h2>

                <div class="action-buttons">
                    <a onclick="goBack()" class="btn btn-cancel">Cancel</a>
                    <form action="{% url 'delete-workout' workout.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-remove">Delete</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script>
        // Function to go back to the previous page
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
