{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="edit-workout">
        <div class="container">
            <div class="edit-workout-content">
                <div class="edit-workout-info">
                    <h2>Edit Workout: {{ workout.name }}</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <div class="error">{{ field.errors }}</div>
                            </div>
                        {% endfor %}
                        <!-- Submit Button -->
                        <button type="submit" class="btn">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
