{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script src="{% static 'scripts/search-bar.js' %}"></script>
    <section class="featured-workouts fixed-height-workouts">
        <div class="container">
            {% if is_own_profile %}
                <div class="workouts-container-head">
                    <h3>All workouts created by you</h3>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'create-workout' %}" class="create-workout-link">Create workout</a>
                    {% endif %}
                </div>
            {% else %}
                <h3>
                    All Workouts created by
                    <a class="creator-link creator-link-bigger"
                       href="{% url 'profile-details' profile_user.username %}">{{ profile_user.username }}</a>
                </h3>
            {% endif %}


            <div class="search-filter-container">
                <!-- Search Bar -->
                <div class="search-bar">
                    <input type="text" id="searchInput" placeholder="Search workouts...">
                </div>

                <!-- Category Filter -->
                <div class="category-filter">
                    <select id="categoryFilter">
                        <option value="all">All Categories</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            {% if workouts %}
                <div class="workout-grid not-spaced">
                    {% for workout in workouts %}
                        <div class="workout-card" data-category="{{ workout.category.id }}">
                            <img src="{{ workout.image.url }}" alt="{{ workout.name }}">
                            <button class="heart-button-favourite" data-pk="{{ workout.pk }}"
                                    onclick="toggleFavourite(this)">
                                <!-- Heart Icon: Filled if the workout is in the user's favourites -->
                                <i class="fa{% if workout in favourite_workouts %}-solid{% else %}-regular{% endif %} fa-heart"></i>
                            </button>
                            <div class="workout-info">
                                <h4>{{ workout.name }}</h4>
                                <p>{{ workout.short_description }}</p>
                            </div>
                            <div class="workout-btns">
                                <a href="{% url 'workout-details' workout.pk %}" class="workout-link">View Workout</a>
                                {% if request.user == profile_user %}
                                    <a href="{% url 'edit-workout' workout.pk %}" class="edit-workout-btn">Edit
                                        Workout</a>
                                    <a href="{% url 'delete-workout' workout.pk %}" class="workout-details-link">Delete
                                        Workout</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-workouts">
                    No workouts created by this user.
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}
