{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="workout-details">
        <div class="container">
            <div class="workout-detail-content">
                <!-- Workout Image -->
                <div class="workout-image">
                    <img src="{{ workout.image.url }}" alt="{{ workout.name }}">
                </div>

                <!-- Workout Info -->
                <div class="workout-info workout-details-info">
                    <!-- Workout Name -->
                    <h4>{{ workout.name }}</h4>
                    <!-- Workout Category -->
                    <p class="workout-category">Category: <span>{{ workout.category.name }}</span></p>
                    <!-- Short Description -->
                    <p class="workout-description">{{ workout.short_description }}</p>

                    <!-- Workout Overview -->
                    <h5>Workout Overview</h5>
                    <ul>
                        <li><strong>Duration:</strong> {{ workout.duration }}</li>
                        <li><strong>Difficulty:</strong> {{ workout.difficulty }}</li>
                        <li><strong>Equipment Needed:</strong> {{ workout.equipment }}</li>
                        <li><strong>Calories Burned:</strong> ~{{ workout.calories_burned }} kcal</li>
                    </ul>

                    <!-- Workout Breakdown -->
                    <h5>Workout Breakdown</h5>
                    <p>{{ workout.workout_breakdown }}</p>

                    <!-- Detailed Exercise List -->
                    <h5>Detailed Exercise List</h5>
                    <p>{{ workout.exercise_list }}</p>

                    <!-- Creator Tips -->
                    <h5>Creator Tips</h5>
                    <p>{{ workout.creator_tips }}</p>

                    <!-- Benefits of This Workout -->
                    <h5>Benefits of This Workout</h5>
                    <p>{{ workout.benefits }}</p>

                    <!-- What to Expect -->
                    <h5>What to Expect</h5>
                    <p>{{ workout.what_to_expect }}</p>

                    <!-- Creator -->
                    <h5>Creator</h5>
                    <p>{{ workout.creator.get_full_name }} - {{ workout.creator.profile.short_description }}</p>

                    <!-- Action Buttons -->
                    <div class="workout-details-buttons">
                        {% if request.user == workout.creator %}
                            <a class="back-to-workouts-btn" href="{% url 'edit-workout' %}">Edit Workout</a>
                        {% endif %}
                        <a class="back-to-workouts-btn" onclick="goBack()">Back to Workouts</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Function to go back to the previous page
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
