/* Workout Details Page */
.workout-details {
    padding: 2rem 0;
}

.workout-detail-content {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.workout-details-info {
    padding: 0;
}

.workout-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px; /* or a suitable fixed width */
}

.workout-info {
    max-width: 600px;
}

.workout-info h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.workout-info p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.workout-category span {
    font-weight: bold;
    color: #f04;
}

.workout-info h5 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.workout-info ul, .workout-info ol {
    margin-left: 1.5rem;
    font-size: 1.1rem;
}

.workout-info .workout-link {
    display: inline-block;
    margin-top: 2rem;
    background-color: #f04;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.workout-info .workout-link:hover {
    background-color: #d03b2f;
}

.workout-details-buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

/* Back to Workouts Button */
.back-to-workouts-btn {
    display: inline-block;
    margin-top: 2rem;
    background-color: #f04;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    text-align: center;
}

.back-to-workouts-btn:hover {
    background-color: #d03b2f;
}