/* Workout Dashboard Section */
/* Search and Filter Section */
.fixed-height-workouts {
    min-height: 700px;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.search-bar input {
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    flex: 1;
    width: 500px;
}

.search-bar button {
    padding: 0.8rem 1.5rem;
    background-color: #f04;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #333;
    color: #f04;
}

.category-filter select {
    padding: 0.8rem 1.3rem 0.8rem 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.not-spaced {
    justify-content: flex-start;
    gap: 3.2rem;
}

.workout-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.workout-btns a {
    font-size: 1.2rem;
    padding: 0.8rem 0.5rem;
    background-color: #f04;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    text-align: center;
}

.workout-btns a:hover {
    background-color: #fff;
    color: #ff0044;
    border: 1px solid black;
}