{% extends 'base.html' %}

{% block content %}
    <main class="profile-main">
        <section class="edit-meal-section">
            <div class="container">
                <h2>Edit Meal</h2>
                <form action="#" method="POST">
                    <!-- CSRF Token -->
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Update Meal</button>
                </form>
            </div>
        </section>
    </main>

{% endblock %}
