{% extends 'base.html' %}
{% block content %}
    <section class="meals-section">
        <div class="container">
            <h2>Your Meals</h2>
            <div class="add-meal">
                <a href="{% url 'create-meal' %}" class="btn-add-meal">Add New Meal</a>
            </div>
            <div class="meals-list">
                {% if not meal_list %}
                    <h2>No meals.</h2>
                {% else %}
                    {% for meal in meal_list %}
                        <div class="meal-card">
                            <h3>{{ meal.name }}</h3>
                            <p>Calories: {{ meal.calories }} kcal</p>
                            <p>Ingredients: {{ meal.ingredients }}</p>
                            <p>Additional notes: {{ meal.additional_notes }}</p>
                            {% load tz %}
                            {% localtime %}
                                <p>Created
                                    At: {{ meal.created_at|date:"M d, Y" }}</p>
                            {% endlocaltime %}
                            {% localtime %}
                                <p>Last
                                    Updated: {{ meal.updated_at|date:"M d, Y" }}</p>
                            {% endlocaltime %}

                            <div class="meal-actions">
                                <a href="{% url 'edit-meal' meal.pk %}" class="btn-edit">Edit</a>
                                <a href="{% url 'remove-meal' meal.pk %}" class="btn-remove">Remove</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- Repeat Meal Cards -->
            </div>
        </div>
    </section>
{% endblock %}
