{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="change-password">
    <div class="container">
        <div class="change-password-content">
            <h4>Change Password</h4>
            <form method="POST">
                {% csrf_token %}

                <!-- New Password -->
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" name="new_password" placeholder="Enter a new password" required>
                </div>
                
                <!-- Confirm New Password -->
                <div class="form-group">
                    <label for="confirm_password">Confirm New Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your new password" required>
                </div>
                
                <button type="submit" class="change-password-btn">Change Password</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
