{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main class="profile-main">
        <section class="profile-section">
            <div class="profile-container">
                <!-- Profile Header -->
                <div class="profile-header">
                    <img
                            {% if user.profile.profile_picture %}
                                src="{{ user.profile.profile_picture.url }}"
                            {% else %}
                                src="{% static 'images/profile-placeholder.png' %}"
                            {% endif %}
                                alt="Profile Picture"
                                class="profile-picture">
                    <div class="profile-header-content">
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        <p>Member since: {{ user.date_joined|date:"d F Y" }}</p>
                    </div>
                </div>

                <!-- Personal Information -->
                <div class="profile-info">
                    <h3>Personal Information</h3>
                    <ul>
                        <li>Username: {{ user.username }}</li>
                        {% if is_own_profile %}
                            <li>Email: {{ user.email }}</li>
                        {% endif %}
                        <li>Age: {{ user.age|default:"N/A" }}</li>
                        <li>
                            Height:
                            {% if user.profile.height and user.profile.height != 0 %}
                                {{ user.profile.height }} cm
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li>
                            Weight:
                            {% if user.profile.weight and user.profile.weight != 0 %}
                                {{ user.profile.weight }} kg
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li>Short Description: {{ user.profile.short_description|default:"N/A" }}</li>
                    </ul>
                </div>

                <!-- Created Workouts -->
                <div class="created-workouts">
                    <div class="created-workouts-header">
                        <h3>Created Workouts</h3>
                        <a href="{% url 'create-workout' %}">Create workout</a>
                    </div>
                    <div class="created-workouts-content">
                        {% if user.workouts.exists %}
                            <ul>
                                {% for workout in user.workouts.all %}
                                    <li><a href="{% url 'workout-details' workout.id %}">{{ workout.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                                <li>No workouts.</li>
                            </ul>
                        {% endif %}
                        <a class="view-all-user-workouts-btn" href="{% url 'user-workouts' user.username %}">View
                            All</a>
                    </div>
                </div>

                {% if is_own_profile %}
                    <!-- Profile Actions -->
                    <div class="profile-actions">
                        <a href="{% url 'edit-profile' %}" class="btn btn-primary">Edit Profile</a>
                        <a href="{% url 'reset-password' %}" class="btn btn-danger">Change Password</a>
                    </div>
                    </div>
                {% endif %}
        </section>
    </main>

{% endblock %}
