{% extends 'base.html' %}

{% block content %}
<section class="change-password">
    <div class="container">
        <div class="change-password-content">
            <h4>Change Password</h4>
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="form-errors">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- New Password -->
                <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    {{ form.new_password1 }}
                </div>

                <!-- Confirm New Password -->
                <div class="form-group">
                    <label for="id_new_password2">Confirm New Password</label>
                    {{ form.new_password2 }}
                </div>

                <button type="submit" class="btn reset-password-btn">Reset Password</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
