{% extends 'base.html' %}

{% block content %}
<section class="change-password">
    <div class="container">
        <div class="change-password-content">
            <h4>Change Password</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                        {% for field in form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="error">{{ field.errors }}</div>
                        {% endfor %}
                    </div>

                <button type="submit" class="btn reset-password-btn">Reset Password</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
