{% extends 'base.html' %}

{% block content %}
    <main class="profile-main">
        <section class="exercise-logs-section">
            <div class="container">
                <h2>Progress History for {{ exercise.name }}</h2>
                <table class="logs-table">
                    <thead>
                    <tr>
                        <th>Logs</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in progress_logs %}
                        <tr>
                            <td>{{ log.log }} on {{ log.date }}</td>
                            <td class="buttons-td">
                                <a href="{% url 'log-edit' log.pk %}" class="btn-edit-progress">Edit</a>
                                <a href="{% url 'log-delete' log.pk %}" class="btn-delete-progress">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No progress history found.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'progress-page' %}" class="btn-back">Back to Progress</a>
            </div>
        </section>
    </main>
{% endblock %}
