{% extends 'base.html' %}

{% block content %}
    <main class="profile-main">
        <section class="progress-log-section">
            <div class="container">
                <h2>Log Progress for {{ exercise.name }}</h2>
                <div class="exercise-logs">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <div class="error">{{ field.errors }}</div>
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn-save-log">Save Log</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
