{% extends 'base.html' %}

{% block content %}
    <main class="profile-main">
        <section class="exercise-logs-section">
            <div class="container">
                <h2>Progress History for Bench Press</h2>
                <table class="logs-table">
                    <thead>
                    <tr>
                        <th>Log Date</th>
                        <th>Weight (kg)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>November 1, 2024, 10:00 AM</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>November 5, 2024, 9:30 AM</td>
                        <td>105</td>
                    </tr>
                    <tr>
                        <td>November 10, 2024, 11:15 AM</td>
                        <td>110</td>
                    </tr>
                    <tr>
                        <td>November 15, 2024, 10:45 AM</td>
                        <td>115</td>
                    </tr>
                    <tr>
                        <td>November 20, 2024, 12:00 PM</td>
                        <td>120</td>
                    </tr>
                    </tbody>
                </table>
                <a href="{% url 'progress-page' %}" class="btn-back">Back to Progress</a>
            </div>
        </section>
    </main>

{% endblock %}
