{% extends 'base.html' %}

{% block content %}
    <section class="progress-section">
        <div class="container">
            <h2>Your Progress</h2>
            <a class="log-new-exercise" href="{% url 'log-exercise' %}">Log New Exercise</a>
            <div class="exercises-grid">
                {% if not exercises %}
                    <h2>No current progress logs.</h2>
                {% else %}
                    {% for item in exercises %}
                        <div class="exercise-card">
                            <h3>{{ item.exercise.name }}</h3>
                            <ul class="personal-records">
                                {% if not item.progress_logs %}
                                    <h3>No current progress logs.</h3>
                                {% else %}
                                    {% for log in item.progress_logs %}
                                        <li>{{ log.log }} on {{ log.date }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <div class="log-buttons">
                                <a href="{% url 'log-progress' item.exercise.id %}" class="btn-log-progress">Log Progress</a>
                                <a href="{% url 'log-history' item.exercise.id %}" class="btn-log-progress">Log History</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
