@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inconsolata:wght@200..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center;
    flex-wrap: nowrap;
}

.logo .logo-title {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    z-index: 1000;
    width: 100%;
}

.navbar .logo {
    z-index: 1010;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.main-links {
    flex-grow: 1;
    text-align: center;
}

.main-links ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-links li {
    padding: 0 1rem;
}

.main-links a:hover {
    color: #f04;
}

.nav-login-register-logout {
    margin: auto;
}

.nav-login-register-logout ul {
    display: flex;
    gap: 1rem;
}

.nav-login-register-logout a {
    border-radius: 0.2em;
    background-color: #f04;
    padding: 0.8em;
    transition: background-color 0.5s ease;
}

.nav-login-register-logout a:hover {
    background-color: #fff;
    color: #f04
}

form button[type="submit"].btn-logout {
    border: none;
    border-radius: 0.2em;
    padding: 0.8rem;
    background-color: #ff0044;
    color: #fff;
    transition: background-color 0.5s;
}

form button[type="submit"].btn-logout:hover {
    cursor: pointer;
    background-color: #fff;
    color: #ff0044;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}



